[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/malibu/Desktop/tutorial]
row=4
col=0

[/home/malibu/Desktop/Whonix-XFCE-16.0.3.7.ova]
row=5
col=0

[/home/malibu/Desktop/Unconfirmed 300365.crdownload]
row=6
col=0

