[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/malibu/Desktop/MsOffice2019_ProPlus_v1808_b10730.20102_retail_x86x64]
row=3
col=0

[/home/malibu/Desktop/Screenshot_2022-04-08_14-04-09.png]
row=0
col=0

[/home/malibu/Desktop/classic.png]
row=1
col=0

[/home/malibu/Desktop/rDnvK_EICK7UacHk24Y7US7lpL5COfwQ.docx]
row=2
col=0

