[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/malibu/Desktop/Security - My Account Panel - Namecheap.com.pdf]
row=1
col=0

[/home/malibu/Desktop/bloodbank]
row=0
col=0

[/home/malibu/Desktop/wpm.png]
row=3
col=0

[/home/malibu/Desktop/speedtest.png]
row=2
col=0

